/*
Colors used:
Qwest Color (Purple): #3A2031; #E95330;
Lemonaid Color (Blue/Green):3EB497;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.43em;
  font-weight: 600;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.29em;
  font-weight: 600;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.14em;
  font-weight: 500;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

img {
  width: 100%;
}

a {
  color: #000000;
  font-weight: 500;
}

a:visited {
  /* visited link */
  color: #000000;
}

a:hover,
a:focus {
  color: #0071FF;
  text-decoration: none;
  font-weight: 500;
}

a:active {
  /* selected link */
  font-weight: 500;
  text-decoration: none;
}

.logo {
  font-family: 'Raleway', sans-serif !important;
  font-size: 1em;
  font-weight: 600 !important;
  color: #000000 !important;
  text-decoration: none !important;
  max-width: 150px;
}

.button2 {
  text-weight: 300;
  display: inline-block;
  background-color: #E95330;
  color: white !important;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  border-bottom: 2px solid #E95330;
  transition: 0.2s opacity;
}

.button2:hover,
.button2:focus {
  opacity: 0.8;
}

.button3 {
  text-weight: 300;
  display: inline-block;
  background-color: #3EB497;
  color: white !important;
  font-weight: 400;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  border-bottom: 2px solid #3EB497;
  transition: 0.2s opacity;
}

.button3:hover,
.button3:focus {
  opacity: 0.8;
}

/* Layout styling */
.container {
  padding: 0 10px
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

p {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  /* Centers text */
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#hero p {
  text-align: center;
  /* Centers text */
}

#work h2 {
  text-align: center;
  /* Centers text */
  margin-top: 0px;
}

#work svg {
  width 100%;
  max-width 100%;
  height: auto
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 35s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 35s cloud-move-reverse infinite alternate linear;
}

#work h3 {
  margin-bottom: 16px;
  margin-top: 0;
}

#work p {
  margin-bottom: 25px;
}

#contact h2 {
  margin-top: 120px;
  text-align: center;
  /* Centers text */
}

#contact p {
  text-align: center;
  /* Centers text */
}

header {
  background-color: #ffffff;
  padding: 0px;
  width: 100%;
  position: fixed;
  -webkit-box-shadow: 0px 4px 60px -33px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 60px -33px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.15);
}

.logo {
  max-width: 250px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba (255, 127, 80, 0.5)
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav>ul>li>a {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  color: #000000 !important;
  text-decoration: none;
  padding: 0 15px;
}

nav>ul>li>a:visited {
  color: #000000 !important;
  text-decoration: none;
}

nav>ul>li>a:hover {
  font-weight: 400 !important;
}

nav>ul>li>a:active {
  font-weight: 400 !important;
}

#hero {
  margin-top: 50px;
  margin-bottom: 60px;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 56px;
}

#story .row {
  margin-top: 0px;
  margin-bottom: 0px;
}

#about h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

#story h2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 16px;
}

.download {
  margin-top: 16px;
  margin-bottom: 15px;
}

.social {
  margin-top: 25px;
  margin-bottom: 60px;
  text-align: center;
  /* Centers text */
}

#introbackgroundqwest h1 {
  margin-top: 0px;
  margin-bottom: 40px;
  padding-top: 60px;
  text-align: center;
}

#introbackgroundqwest picture {
  margin-bottom: 24px;
  display: inline-block;
  text-align: center;
}

.qwestlogo {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#introbackgroundqwest p {
  padding-bottom: 16px;
}

.duration {
  padding-bottom: 60px !important;
  margin-bottom: 0px;
}

#research h2 {
  margin-top: 53px;
  margin-bottom: 60px;
  text-align: center;
}

#research h3 {
  margin-top: 0px;
  margin-bottom: 16px;
}

.process {
  margin-top: 0px;
  margin-bottom: 40px;
}

#research h4 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 25px;
}

.postit {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
}

.insight1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.insight2 {
  text-align: center;
  margin-top: 20px;
}

#analysis h2 {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

#analysis h3 {
  margin-top: 0px;
  margin-bottom: 16px;
}

.personas {
  margin-top: 40px
}

.usergoal {
  margin-top: 40px;
  margin-bottom: 25px;
  font-style: italic;
  text-align: center;
}

.userjourney {
  margin-top: 25px;
  margin-bottom: 40px;
}

#design h2 {
  margin-top: 20px;
  text-align: center;
  margin: 60px;
}

#design h3 {
  margin-top: 0px;
  margin-bottom: 16px;
}

.sitemap {
  margin-top: 40px;
}

#design h4 {
  margin-bottom: 40px;
}

#usabilitytests h2 {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

#usabilitytests h3 {
  margin-top: 0px;
  margin-bottom: 16px;
}

#usabilitytests h4 {
  margin-top: 40px;
  margin-bottom: 25px;
}

.prototypelink {
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}

#conclusion h2 {
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: center;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 768px) {
  header {
    text-align: unset;
    background-color: #ffffff;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  body {
    font-size: 16px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }

  .explanation p {
    margin-left: auto;
    margin-right: 0;
    float: unset;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-md-7 {
    width: 60%;
  }

  .col-md-5 {
    width: 40%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .qwestlogo {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}
